/*
  *** TODO: fill in your header ***
  INSERT YOUR NAME HERE
  INSERT THE CURRENT DATE HERE
  INSERT YOUR SECTION/TA NAME

  WRITE A 2-3 SENTENCE SHORT FILE DESCRIPTION HERE
*/

/*
  Remember: This body ruleset is to get you started, but does not count
  towards the CSP requirements!
*/
body {
  background-color: lightsteelblue;
  font-family: "Helvetica", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
